body{
    font-style: oblique;
}
#heading{
text-align: center;
}
#search{
    text-align: center;
    color: yellow;
}
#text{
    text-align: center;
    
}
input[type="text"] {
    background-color: red;
  }
  
  input[type="text"]:focus {
    background-color: yellow;
  }
  
  .fa-solid:hover {
    background-color: yellow;
  }
  
  .fa-solid {
    color: black;
  } 
#servise{
    text-align: center;
}
#flexible{
    text-align: center;
  
}
#website{
  text-align: center;
}
.img{
  height: 100px;
  
}
a{
  text-decoration: none;
  
}