body{
  background-color: green;
}
.logo {
  color:white;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}
.menu {
  width: 300px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: white;
  font-family: arial;
  font-weight: bold;
  
}

ul li a {
  color:white;
}


.content {
  width: 1200px;
  height: auto;
  margin: auto;
  position: relative;
  padding-top: 50px;
  padding-left: 50px;
}
.content h1 {
  color: white;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 20px;
  
}
.content .par {
  padding-left: 20px;
  font-family: Arial;
  padding-bottom: 50px;
  padding-top: 20px;
  display: inline-block;
  
}
.content .img{
  width: 100px;
  height: 150px;
  align-items: center;
}

.btn .cn {
  width: 160px;
  height: 40px;
  background: orange;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  
}
.btn.cn a {
  text-decoration: none;
  color: black;
  
}
.cn:hover {
  background-color: white;
}
